* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-kaa.kaa.lexc -text
/apertium-kaa.kaa.rlx -text
/apertium-kaa.kaa.twol -text
/apertium-kaa.pc.in -text
/apertium-kaa.post-kaa.dix -text
/autogen.sh -text
/configure.ac -text
dev/Makefile -text
dev/countstems.sh -text
dev/coverage -text
dev/editdist.py -text
dev/instruction -text
dev/kaa.Cyrl-Latn_1991.sh -text
dev/kaa.Cyrl-Latn_1991.twol -text
dev/kaa.Cyrl-Latn_1991.twol.nomulti -text
dev/kaa.Latn_1991-Cyrl.twol -text
dev/kaz-nouns.txt -text
dev/spellrelax.twol -text
/modes.xml -text
speller/editdist.default.txt -text
speller/index.xml -text
speller/strings.default.txt -text
speller/words.default.txt -text
tests/G.yaml -text
